/* Estilos del modal de usuario */
:host ::ng-deep {
  .p-dialog .p-dialog-header {
    border-bottom: 1px solid #e5e7eb;
  }

  .p-dialog .p-dialog-content {
    padding: 1.5rem;
  }

  .p-inputtext.ng-invalid.ng-dirty,
  .p-password.ng-invalid.ng-dirty input {
    border-color: #ef4444;
  }

  .p-password {
    width: 100%;
  }

  .p-password input {
    width: 100%;
  }
}
